In [10]:
import pandas as pd

In [5]:
data = pd.read_csv(r'C:\Users\HP\Documents\BUDGET.csv')
data

,S.NO,NAME OF SECTOR,Unnamed: 2,Unnamed: 3,PERCENTAGE GIVEN TO SECTOR,Unnamed: 5,Unnamed: 6,Unnamed: 7,AMOUNT GIVEN in M$,Unnamed: 9,Unnamed: 10,UID
0,1,subsidies,NaN,NaN,10%,NaN,NaN,NaN,27.6,NaN,NaN,111
1,2,defence,NaN,NaN,9%,NaN,NaN,NaN,5.0,NaN,NaN,222
2,3,interest,NaN,NaN,18%,NaN,NaN,NaN,127.5,NaN,NaN,444
3,4,central sector schemes,NaN,NaN,11%,NaN,NaN,NaN,50.7,NaN,NaN,555
4,5,centrally sponsored schemes,NaN,NaN,10%,NaN,NaN,NaN,47.0,NaN,NaN,666
5,6,states share of taxes,NaN,NaN,24%,NaN,NaN,NaN,44.7,NaN,NaN,777
6,7,others,NaN,NaN,13%,NaN,NaN,NaN,20.0,NaN,NaN,888

In [6]:
data.head(7)

,S.NO,NAME OF SECTOR,Unnamed: 2,Unnamed: 3,PERCENTAGE GIVEN TO SECTOR,Unnamed: 5,Unnamed: 6,Unnamed: 7,AMOUNT GIVEN in M$,Unnamed: 9,Unnamed: 10,UID
0,1,subsidies,NaN,NaN,10%,NaN,NaN,NaN,27.6,NaN,NaN,111
1,2,defence,NaN,NaN,9%,NaN,NaN,NaN,5.0,NaN,NaN,222
2,3,interest,NaN,NaN,18%,NaN,NaN,NaN,127.5,NaN,NaN,444
3,4,central sector schemes,NaN,NaN,11%,NaN,NaN,NaN,50.7,NaN,NaN,555
4,5,centrally sponsored schemes,NaN,NaN,10%,NaN,NaN,NaN,47.0,NaN,NaN,666
5,6,states share of taxes,NaN,NaN,24%,NaN,NaN,NaN,44.7,NaN,NaN,777
6,7,others,NaN,NaN,13%,NaN,NaN,NaN,20.0,NaN,NaN,888

In [8]:
data.shape

(7, 12)

In [11]:
data.index
data.columns

Index(['S.NO', '        NAME OF SECTOR', 'Unnamed: 2', 'Unnamed: 3',
       'PERCENTAGE GIVEN TO SECTOR', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
       'AMOUNT GIVEN in M$', 'Unnamed: 9', 'Unnamed: 10', 'UID'],
      dtype='object')

In [5]:
data.dtypes

S.NO                            int64
        NAME OF SECTOR         object
Unnamed: 2                    float64
Unnamed: 3                    float64
PERCENTAGE GIVEN TO SECTOR     object
Unnamed: 5                    float64
Unnamed: 6                    float64
Unnamed: 7                    float64
AMOUNT GIVEN in M$            float64
Unnamed: 9                    float64
Unnamed: 10                   float64
UID                             int64
dtype: object

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   S.NO                        7 non-null      int64
 1           NAME OF SECTOR      7 non-null      object
 2   Unnamed: 2                  0 non-null      float64
 3   Unnamed: 3                  0 non-null      float64
 4   PERCENTAGE GIVEN TO SECTOR  7 non-null      object
 5   Unnamed: 5                  0 non-null      float64
 6   Unnamed: 6                  0 non-null      float64
 7   Unnamed: 7                  0 non-null      float64
 8   AMOUNT GIVEN in M$          7 non-null      float64
 9   Unnamed: 9                  0 non-null      float64
 10  Unnamed: 10                 0 non-null      float64
 11  UID                         7 non-null      int64
dtypes: float64(8), int64(2), object(2)
memory usage: 804.0+ bytes

In [13]:
data.nunique()

S.NO                          7
        NAME OF SECTOR        7
Unnamed: 2                    0
Unnamed: 3                    0
PERCENTAGE GIVEN TO SECTOR    6
Unnamed: 5                    0
Unnamed: 6                    0
Unnamed: 7                    0
AMOUNT GIVEN in M$            7
Unnamed: 9                    0
Unnamed: 10                   0
UID                           7
dtype: int64

#find unique value in amount given?

In [14]:
#ans
data.head(7)
data.nunique()
data['AMOUNT GIVEN in M$'].nunique()

7

import pandas as pd

FIND WHEN AMOUNT IS 20 MILLION?

RENAME COLUMN AMOUNT GIVEN TO  AMOUNT?

In [15]:
data.head(7)
data.rename(columns = { 'AMOUNT GIVEN in M$' : 'AMOUNT'})

,S.NO,NAME OF SECTOR,Unnamed: 2,Unnamed: 3,PERCENTAGE GIVEN TO SECTOR,Unnamed: 5,Unnamed: 6,Unnamed: 7,AMOUNT,Unnamed: 9,Unnamed: 10,UID
0,1,subsidies,NaN,NaN,10%,NaN,NaN,NaN,27.6,NaN,NaN,111
1,2,defence,NaN,NaN,9%,NaN,NaN,NaN,5.0,NaN,NaN,222
2,3,interest,NaN,NaN,18%,NaN,NaN,NaN,127.5,NaN,NaN,444
3,4,central sector schemes,NaN,NaN,11%,NaN,NaN,NaN,50.7,NaN,NaN,555
4,5,centrally sponsored schemes,NaN,NaN,10%,NaN,NaN,NaN,47.0,NaN,NaN,666
5,6,states share of taxes,NaN,NaN,24%,NaN,NaN,NaN,44.7,NaN,NaN,777
6,7,others,NaN,NaN,13%,NaN,NaN,NaN,20.0,NaN,NaN,888

WHAT IS MEAN OF AMOUNT GIVEN?

In [16]:
data.head(7)
data.UID.mean()

523.2857142857143

FIND ALL POINTS WHEN UID IS > 24 ?

In [17]:
(data['UID' ]>24)

0    True
1    True
2    True
3    True
4    True
5    True
6    True
Name: UID, dtype: bool